body{
    margin: 0px;
    height: 0px;
    background-color: bisque;
    
}
.mainclass1{
    display: flex;
    justify-content: center;
    background-color: rgb(90, 3, 75);

    text-align: center;
    
}
.mainclass1 ul{
    display:flex;
    justify-content: center;
    
}
.mainclass1 ul li{
    display:flex;
    text-decoration: none;
    text-align: center;
    margin: 15px 30px 0px 20px;
}
.mainclass1 ul li a:hover{
    color: blue;
}
.mainclass1 ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#showdata{
    align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer{
    background-color: rgb(90, 3, 75);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    text-align: center;
    color: aliceblue;
   
}
.insert{
    width: 500px;
    height: 400px;
    border: 2px solid brown;
    font-size: 18px;
 
    margin-top: 10px;
    border-radius: 20px;
    
    
}
h1{
    color: rgb(243, 62, 12);
    font-weight: bold;
    margin-top: 30px;
    font-size: 50px;
font-family:'Times New Roman', Times, serif;
text-decoration: underline 1px solid  rgb(90, 3, 75);;

   
}
.insert input{
    width: 200px;
    height: 25px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid brown;
}
input:hover{
    background-color: rgb(140, 146, 146);
    color: aliceblue;
   
}
#no{
    width: 250px;
    margin: 16px;
    margin-top: 50px;


}
#nm{
    width: 250px;
    margin: 16px;
  
}
#ct{
    width: 250px;
    margin: 16px;

}
#sal{
    width: 250px;
    margin: 16px;
}
.insert button{
    width: 200px;
    height: 34px;
   
    background-color: brown;
    color: azure;
    font-size: 20px;
}
button:hover{
    background-color: rgb(228, 158, 16); 
}
#search{
    width: 300px;
    height: 20px;
    font-size: 20px;
}
#box{
    width:450px;
    height: 30px;
    border-radius: 20px;
    background-color: bisque;
    margin-bottom: 10px;
}
table{
    width: 800px;
    border: 2px solid brown;
    margin-top: 40px;
    border-bottom: none;
   
}
td{
    text-align: center;
    border-right: 1px solid brown;
    border-bottom: 1px solid brown;
    color: rgb(1, 1, 15);
}
th{
    background-color: rgb(183, 133, 5);
    color: rgb(120, 11, 11);
    font-weight: bold;
    font-size: 25px;
    border-bottom:1px solid brown;
    font-family:'Times New Roman', Times, serif;
}
